# Copy to terraform.tfvars and adjust if you want to override the defaults.
# (terraform.tfvars is in .gitignore and will NOT go to the repository.)

aws_region       = "us-east-1"
project_name     = "terraform-trainning"
site_bucket_name = "luizbortoluzzi-terraform-trainning" # must be globally unique
github_owner     = "luizbortoluzzi"
github_repo      = "terraform-trainning"
